/*
Colors used:
Primary Color Petrol: #195973
Secondary Color Light Petrol: #0388a6
Tertiary Color Pink: #bf046b
Highlight Color Yellow: #d9a404
Light for header: #e9eff2

favicons:
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
*/
body {
  background-color: ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #4a4a4a;
}

#home-page {}

#about-page {}

#ink-page {}

#wingbuddy-page {}

h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif;
  line-height: 1.4;
  color: #195973
}

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 2.75em;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 2.25em;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-size: 1.35em;
  font-weight: 400;
}

h5 {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #195973;
  text-decoration: none;
  /* No underlining */
}

a:hover,
a:focus {
  color: #0388a6;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:visited {
  /* visited link */
  color: #195973;
}

a:active {
  /* selected link */
  color: #bf046b;
}

.button, .button:visited {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #195973;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 100px;
  border-bottom: none;
  /* width of the border, type, color */
  transition: 0.2s opacity;
  text-transform: uppercase;
}

.button:hover, .button:focus, .button:active {
  background-color: #0388a6;
  color: #ffffff;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #195973;
  text-transform: uppercase;
  border: 2px solid #195973;
}

.button.contact:hover, .button:focus, .button:active {
  background-color: #0388a6;
  color: #ffffff;
  border: 2px solid #0388a6;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #195973;
}

#ink .row {
  padding-bottom: 25px;
}

#hero h1 {
  text-align: center; /* centers text */
  font-family: 'Arvo', serif;
  line-height: 1.4;
  color: #195973;
}

.logo {
  max-width: 250px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
  /* width: 100% */
}

/* nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav > ul > li > a:hoover {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #0388a6;
  text-decoration: underline
}

nav > ul > li > a:active {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #0388a6;
  text-decoration: underline*/

header {
  background-color: #ffffff;
  text-align: center;
  padding: 10px;
  /* opacity: 0.3; */
  margin: 10px;
  /* border-bottom: 2px solid #195973; */
}

.youtube-video {
  width: 560px; 
  height: 315px;
}

@media screen and (max-width: 600px) {
  .youtube-video {
    width: 100%;
  }
}